#insta-widget {
    padding: 2px;
}

.box {
    display: inline-block;
    position: relative;
    background-color: white;
    padding: 2px;
}

.box .info {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    opacity: 0;
    font-family: "Arial";
    transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
    z-index: 2;
}

.box:hover .info {
    opacity: 1;
}

.box img {
    height: 100%;
    width: 100%;
    transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
    z-index: 1;
}

.box:hover img {
    opacity: 0.33;
}

.heading, .footing {
    text-align: center;
    color: black;
}

.heading a, .footing a {
    text-decoration: none;
    color: black;
}

div.likes,
div.comments {
    padding: 5px;
    font-size: 1.8em;
}

span.glyphicon {
    font-size: .8em;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 1.5em
}

.user-info {
    text-align: center;
}

.user-info img {
    height: 40px;
    border-radius: 100%
}
